html {
  head {
    title "Title"
    style r#"
      .red { color: red; }
    "#
  }
  body {
    h1 "Heading"
    div id="content" {
      span "Hello"
      _ " World" "!"
    }
    label {
      input type="checkbox" checked=true
      _ "TODO"
    }

    script type="application/javascript" r#"
      content.firstChild.classList.toggle("red");
    "#
  }
}
